<header class="header-section" di="header">
  <div class="header-container container header-js">
    <a class="header-logo-link" href="">
      <svg class="logo-icon">
        <use
          class="logo-icon-mobile"
          href="./img/icons.svg#icon-logo-mobile"
        ></use>
        <use
          class="logo-icon-tablet"
          href="./img/icons.svg#icon-logo-tablet"
        ></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#hero">Anemone</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#store">Store</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#delivery">Delivery</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <a class="header-contact-link" href="tel:+380000000000">
      <svg class="header-contact-icon" width="22" height="22">
        <use href="./img/icons.svg#icon-tel"></use>
      </svg>
    </a>
    <button class="header-burger-btn" type="button">
      <svg class="header-burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
