<section class="hero-section section">
  <div class="container">
    <h1 class="title">Hero</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facilis optio
      modi voluptatum, amet ullam magnam soluta vel, fugiat consequuntur sunt
      nostrum corrupti aspernatur ipsa est temporibus. Atque, assumenda
      repudiandae.
    </p>
  </div>
</section>
